<footer>
    <p>
        {{ "copyright"|trans({ "%year%" : "now"|date("Y") }) }}
        <br>
        <a href="">{{ "cgu.label"|trans|capitalize }}</a>
        | <a href="">{{ "credits.title"|trans|capitalize }}</a>
    </p>

</footer>