<header>
    <img src="{{ asset('favicon_256.png') }}" alt="Logo de silvain.eu">
    <div class="header_separate"></div>
    <nav>
        <a href="">Accueil</a>
        <a href="">Parcours</a>
        <a href="">Compétences</a>
        <div class="header_space"></div>
        <a href="" class="app-nav-btn">
            <i class="far fa-envelope-open"></i>
            Me Contacter
        </a>
    </nav>
</header>