{% extends 'dashboard/base.html.twig' %}

{% block content_class %}container-fluid{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <div class="card card-stats">
                <div class="card-content">
                    <h2>Mails reçus/envoyés</h2>
                    <p>5</p>
                </div>
                <div class="icon_skills icon_skills-blue">
                    <i class="fas fa-envelope-open-text"></i>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-stats">
                <div class="card-content">
                    <h2>Mails rejetés</h2>
                    <p>15</p>
                </div>
                <div class="icon_skills icon_skills-red">
                    <i class="fas fa-paper-plane"></i>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-stats">
                <div class="card-content">
                    <h2>Domaines managés</h2>
                    <p>0</p>
                </div>
                <div class="icon_skills icon_skills-light-black">
                    <i class="fas fa-tags"></i>
                </div>
            </div>
        </div>
        <div class="col-12 mt-6"></div>
        <div class="col-8 ">

        </div>
        <div class="col-4">
            <h2 class="bold">Statistiques</h2>
        </div>
    </div>
{% endblock %}