.icon_skills {
  width: 150px;
  height: 150px;
  display: flex;

  justify-content: center;
  align-items: center;

  background-color: transparentize($red_color, 0.7);
  border-radius: 100%;

  img {
    width: 60%;
    max-height: 60%;
    object-fit: contain;
  }

  i {
    font-size: 90px;
    max-height: 60%;
    color: $red_color;
  }

  @each $class, $color in $colors {
    &.icon_skills-#{$class} {
      background-color: transparentize($color, 0.7);
      i {
        color: $color;
      }
    }
  }
}