@import "card_stats";

.card {
  display: flex;
  flex-direction: column;

  width: 100%;

  &:not(.card_no-shadow){
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.25);
  }

  .card-body {
    background: white;
    padding: 15px 20px 20px 20px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    h3 {
      margin: 10px 0 10px 20px;
      padding: 0;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;

      color: #434548;
    }
  }
}