{% extends 'index/contact.html.twig' %}

{% block form %}
    <div class="w-100 text-center mt-5">
        <i class="fas fa-check-circle color-green fa-7x"></i>
        <p>{{ "contact.send"|trans }}</p>
    </div>
{% endblock %}


