{% extends 'index/base.html.twig' %}

{% block title %}
    {{ 'general.title.legal-notice'|trans|capitalize }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ 'general.title.legal-notice'|trans|capitalize }}</h1>
        <p>Ludwig SILVAIN</p>
        <p>Email : <a href="mailto:contact@silvain.eu">contact@silvain.eu</a></p>
        <p>&nbsp;</p>
        <h2>Hébergeur du site: <strong>Pulseheberg</strong></h2>
       <div class="grid2">
           <div>
               <p>55 avenue des champs Pierreux</p>
               <p>92012 Nanterre Cedex</p>
               <p>Société par actions simplifiée</p>
               <p>Siret : 824 070 619 00021</p>
           </div>
           <div>
               <p>Site: <a href="https://www.pulseheberg.com" target="_blank">www.pulseheberg.com</a></p>
               <p>Tel: <a href="tel:+33179736222">+33 (0) 1 79 73 62 22</a></p>
               <p>Email: <a href="mailto:contact@pulseheberg.com">contact@pulseheberg.com</a></p>
           </div>
       </div>




    </div>
{% endblock %}



