{% extends 'index/base.html.twig' %}

{% block title %}
    {{ 'general.title.legal-notice'|trans|capitalize }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ 'general.title.legal-notice'|trans|capitalize }}</h1>
        <p>Ludwig SILVAIN</p>
        <p>Email : <a href="mailto:contact@silvain.eu">contact@silvain.eu</a></p>
        <p>&nbsp;</p>
        <h2>Hébergeur du site:</h2>
        <p>OVH</p>
        <p>2 rue Kellermann – 59100 Roubaix, France</p>
        <p>www.ovh.com</p>
        <p>Tel: <a href="tel:+33972101007">+33 9 72 10 10 07</a></p>


    </div>
{% endblock %}



