{% extends 'index/base.html.twig' %}
{% block content %}
    <h1 class="text-center">Mon parcours</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                {{ source('@public_path'~asset('img/Timeline.svg')) }}
            </div>
        </div>
    </div>
{% endblock %}

