{% extends 'index/base.html.twig' %}
{% block content %}
    <h2>Mon parcours</h2>
    <p>
        Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta
        feracium multiplicantes annuos fructus, quae a primo ad ultimum solem se abunde iactitant possidere, ignorantes
        profecto maiores suos, per quos ita magnitudo Romana porrigitur, non divitiis eluxisse sed per bella saevissima,
        nec opibus nec victu nec indumentorum vilitate gregariis militibus discrepantes opposita cuncta superasse
        virtute.
    </p>
    <div class="container mt-5">
        <div class="row">
            <img src="{{ asset('img/Timeline.svg') }}" alt="" class="col-12">
        </div>
    </div>
{% endblock %}

