{% extends 'index/base.html.twig' %}
{% block content %}
    <h2 class="text-center">Mon parcours</h2>
    <div class="container mt-5">
        <div class="row">
            <img src="{{ asset('img/Timeline.svg') }}" alt="" class="col-12">
        </div>
    </div>
{% endblock %}

