{% extends 'index/base.html.twig' %}

{% block title %}Mon parcours{% endblock %}

{% block content %}
    <h1 class="text-center">Mon parcours</h1>
    <div class="container mt-5">
        <div class="row">
{#             <div class="col-12 is-theme-light">#}
{#             <img src="{{ asset('img/Timeline.svg') }}" alt="Mon parcours en mode clair" class="w-100">#}
{#             </div>#}
{#             <div class="col-12 is-theme-dark">#}
{#             <img src="{{ asset('img/Timeline_Dark.svg') }}" alt="Mon parcours en mode sombre" class="w-100">#}
{#             </div>#}
            {% include 'index/include/_career.html.twig' %}

        </div>
    </div>
{% endblock %}

