{% extends 'index/base.html.twig' %}

{% block title %}Mes passions{% endblock %}

{% block content %}
    <h1 class="text-center">Mes passions</h1>
    <div class="container mt-5 vstack" id="my_hobbies">
        <div>
            <div class="my_hobbies-img">
                <img src="{{ asset('img/illustrations/passions/cello.png') }}" alt="Image de violon" class="w-100">
            </div>
            <div class="my_hobbies-content">
                <h2>Violoncelle</h2>
                <p>
                    Inscrit depuis l'âge de 7 ans au conservatoire du Boulonnais, je pratique le violonselle depuis plus
                    de 13 ans. Je suis titulaire du premier cycle. J'ai eu la possibilité de participer à l'orchestre
                    symphonique de Boulogne sur Mer et de faire plusieurs représentations. J'ai pu me rendre à de
                    nombreuses académies de musique dont celles de Luneville et du Cap d'Ail et ce depuis l'âge de 9
                    ans. J'y ai pratiqué aussi bien la musique individuelle que la musique de chambre.
                </p>
            </div>
        </div>

        <div class="my_hobbies-reverse">
            <div class="my_hobbies-img">
                <img src="{{ asset('img/illustrations/passions/code.png') }}" alt="Code informatique" class="w-100">
            </div>
            <div class="my_hobbies-content">
                <h2>Informatique</h2>
                <p>
                    Baigné depuis mon tout jeune âge dans l'informatique, il me parait clair aujourd'hui que je veux en
                    faire plus q'une passion. Ce que j'aime dans ce domaine c'est sa constante évolution : on n'a jamais
                    fini d'être surpris. Et dès l'âge de 18 ans, j'ai eu la chance de mettre en pratique ma passion à
                    destination de projet personnel (Gotobac) et professionnel (Intersysteme, Lait Pairies du
                    Boulonnais).
                </p>
            </div>
        </div>

        <div>
            <div class="my_hobbies-img">
                <img src="{{ asset('img/illustrations/passions/space.png') }}" alt="Astronaute dans l'espace"
                     class="w-100">
            </div>
            <div class="my_hobbies-content">
                <h2>Espace & Science</h2>
                <p>
                    Ma passion pour la science fiction s'est tout naturellement tournée vers l'espace avec des série
                    comme Star Trek : "Espace frontière de l'infini". Cette passion a pu se concrétiser en 2011 lors de ma
                    visite à la cité de l'espace de Toulouse.
                </p>
            </div>

        </div>
    </div>
{% endblock %}
