$menu_background: #2C3E50;
$menu_color: #8494A4;
$menu_seperate_color: #8494A4;
$menu_height: 60px;

$header_color: #ECF0F1;
$header_backgroud_color: #5FAADD;


$footer_h2_color: #ECF0F1;
$footer_color: #C4C4C4;


$default_text_color: #666666;
$default_h2_color: #333333;


$hr_background: rgba(0, 0, 0, 0.06);


//Colors
$purple_color: #7A69E6;
$green_color: #27AE60;
$medium_green_color: #228C4F;
$yellow_color: #F9C043;
$light_blue_color: #6A9AE8;
$blue_color: #2980B9;
$red_color: #FA5E5D;
$dark_red_color: #ae3131;
$light_black_color: #263547;
$light_grey_color: #BFBFBF;
$grey_color: #7F8C8D;

$colors: (
        'primary' : $light_blue_color,
        'secondary' : $grey_color,
        'purple' : $purple_color,
        'green' : $green_color,
        'medium-green' : $medium_green_color,
        'yellow' : $yellow_color,
        'light-blue' : $light_blue_color,
        'blue' : $blue_color,
        'red' : $red_color,
        'danger' : $dark_red_color,
        'light-black' : $light_black_color,
        'light-grey' : $light_grey_color,
        'grey' : $grey_color,
);

:root {
  @each $class, $color in $colors {
    --color-#{$class} : #{$color};
  }
  --color-header-bg: #{$header_backgroud_color};
  --color-title: #{$menu_background};
  --color-text: #{$default_text_color};
  --color-text_ligthen_30: #{lighten($default_text_color, 30%)};
  --color-text_ligthen_7: #{lighten($default_text_color, 7%)};
  --color-text_ligthen_15: #{lighten($default_text_color, 15%)};
  --color-text-accent: #484747;
  --color-card-background: #ffffff;
  --color-card-footer-background: #F7FAFD;
  --color-card-footer-color: rgba(0, 0, 0, 0.5);
  --color-card-footer-border: #EAE8E8;
  --color-main-background: #ECF0F1;
}


.theme-dark {
  --color-title: #dce2e4;
  $default_text_color: #d1cece;
  --color-text: #{$default_text_color};
  --color-text_ligthen_30: #{lighten($default_text_color, 30%)};
  --color-text_ligthen_7: #{lighten($default_text_color, 7%)};
  --color-text_ligthen_15: #{lighten($default_text_color, 15%)};
  --color-text-accent: #484747;
  --color-card-background: #3b4f63;
  --color-card-footer-background: #33475a;
  --color-card-footer-color: rgba(255, 255, 255, 0.5);
  --color-card-footer-border: #33475a;
  --color-main-background: #{$menu_background};

}