@import "../vars";
@import "../fonts";

html {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--color-main-background);

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1 0 auto;

    & > div.main-content {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      padding: 20px 80px;
      @media screen and (max-width: 950px) {
        padding: 15px 40px;
        @media screen and (max-width: 600px) {
          padding: 10px 20px;
        }
      }


    }

  }
}

@import "../Utils/Bootstrap/bootstrap";
@import "elements/menu_top";
@import "elements/footer";
@import "elements/separator";
@import "elements/button";
@import "elements/badge";
@import "elements/form";
@import "elements/cv_article";
@import "elements/career";

@import "elements/media/icon_skills";
@import "elements/card/card";

@import "pages/index";


@import "ui";