$dashboard_primary_color: #ecaf52;
$dashboard_secondaryColor: #404E67;

$dashboard_nav_left_background: #1E272E;
$dashboard_nav_left_width : 300px;
$dashboard_nav_left_color : #AEAEAE;

$dashboard_nav_top_background : #fff;
$dashboard_nav_top_height : 55px;

/** Nav Left **/
$dashboard_nav-left_responsive: 1250px;
$dashboard_nav-left_responsive_2: 700px;
$dashboard_nav-left_color_title: #DFE5EF;
$dashboard_nav-left_color_href: #AEAEAE;
$dashboard_nav-left_color_primary: $dashboard_primary_color;
$dashboard_nav-left_background_href_select: #333F54;
$dashboard_nav-left_background_href_deploy: #39465E;