.app-badge {
  padding: 8px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: mix($light_blue_color, white, 50%);
  border-radius: 10px;

  &.app-badge-small {
    padding: 5px 10px;

    span {
      font-size: 16px;
    }
  }

  @each $class, $color in $colors {
    &.app-badge-#{$class} {
      background-color: mix($color, white, 50%);

      span {
        color: darken($color, 15%);
      }
    }
  }

  span {
    color: $light_blue_color;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
  }
}