.app-badge {
  padding: 3px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: lighten($blue_color, 25%);
  border-radius: 20px;

  @each $class, $color in $colors {
    &.app-badge-#{$class} {
      background-color: lighten($color, 25%);
      span {
        color: $color;
      }
    }
  }

  span {
    color: $blue_color;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
  }
}