.app-btn {
  padding: 8px 25px;
  box-sizing: border-box;
  display: inline-block;


  border-radius: 15px;

  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  font-family: Roboto, sans-serif;

  background: lighten($light_blue_color, 25%);
  border: 2px solid lighten($light_blue_color, 25%);
  color: $light_blue_color;

  text-decoration: unset;
  cursor: pointer;
  outline: none;


  &.app-color-plain {
    border: 3px solid $light_blue_color;
    background: $light_blue_color;
    color: white;

    &:not(:disabled):hover {
      border-color: lighten($light_blue_color, 25%);
      background-color: lighten($light_blue_color, 25%);
    }

    &.app-color-classic {
      border: 1.5px;
      font-weight: 400;
      border-radius: 5px;
      padding: 7px 11px;

      line-height: 22px;

      &:not(:disabled):hover {
        border-color: darken($light_blue_color, 15%);
        background-color: darken($light_blue_color, 15%);
      }
    }
  }

  &.app-btn-inverse {
    border: 2px solid $light_blue_color;
    background: transparent;
    color: $light_blue_color;

    &:not(:disabled):hover {
      background: $light_blue_color;
      color: white;
    }
  }

  &:not(:disabled):hover {
    border-color: $light_blue_color;
    background-color: lighten($light_blue_color, 25%);
  }

  @each $class, $color in $colors {
    &.app-btn-#{$class} {
      background: lighten($color, 25%);
      border-color: lighten($color, 25%);
      color: $color;

      &:not(:disabled):hover {
        border-color: $color;
        background-color: transparent;
      }

      &.app-btn-inverse {
        border: 2px solid $color;
        background: transparent;
        color: $color;

        &:not(:disabled):hover {
          background: $color;
          color: white;
        }
      }

      &.app-color-plain {
        background: $color;
        border-color: $color;
        color: white;

        &:not(:disabled):hover {
          border-color: lighten($color, 25%);
          background-color: lighten($color, 25%);
          &.app-color-classic {
            border-color: darken($color, 15%) !important;
            background-color: darken($color, 15%) !important;
          }
        }
      }
    }
  }
}