footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  align-items: center;


  & > img.footer_bg, & > svg.footer_bg {
    width: 100%;
    margin-bottom: -5px;
  }

  .footer_content {


    background: #34495E;
    width: 100%;
    @media screen and (max-width: 720px) {
      padding-right: 25px;
      padding-left: 25px;
    }
    padding: 10px 100px 20px;

    & > .container-fluid {
      max-width: 1400px;

      .row > div {
        padding: 0;
      }
    }

    h2 {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;

      color: $footer_h2_color;
      margin: 0;
      padding: 0;
      text-indent: 0;
      @extend .mb-4;
      @media screen and (max-width: 720px) {
        text-indent: 0;
        text-align: center;
      }
    }

    p, a {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height */
      min-width: 50%;


      color: $footer_color;
      text-decoration: unset;
      margin: 10px 5px 10px 0;
      display: flex;

      @media screen and (max-width: 720px) {
        justify-content: center;
        text-align: center;
      }

    }

    a:hover {
      color: lighten($footer_color, 25%);
    }

    .footer_border {
      &:nth-child(1) {
        @media screen and (max-width: 960px) {
          border-right: unset;
        }
      }

      &:nth-child(2) {
        @media screen and (max-width: 1200px) {
          border-right: unset;
        }
      }

      border-right: 2px solid #8494A4;
    }

    .footer_copyright {
      text-align: center;
      margin-bottom: 0;
      margin-top: 60px;
      justify-content: center;
    }

    ul.me-media {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0;
        margin: 0 3px;
        float: left;

        & > a {
          &:hover i {
            transition: color 0.3s;
            color: #bfb4b4;
          }
        }

        i {
          color: white;
          font-size: 24px;
        }
      }
    }
  }
}