footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  align-items: center;


  & > img.footer_bg, & > svg.footer_bg {
    width: 100%;
    margin-bottom: -5px;
  }

  .footer_content {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #34495E;
    width: 100%;

    & > .footer_container {
      margin: 10px 15px 20px;
      max-width: 1400px;

      display: grid;
      grid-row-gap: 15px;


      .footer_col-full {
        grid-column: 1/-1;
      }

      grid-template-columns: 1fr;



      @media screen and (min-width: 500px) {
        margin-left: 50px;
        margin-right: 50px;
      }
      @media screen and (min-width: 850px) {
        margin-left: 100px;
        margin-right: 100px;


        & > *:nth-child(4) {
          display: none;
        }

        & > .footer_info_me {
          grid-column: 1/-1;
        }

        grid-template-columns: 1fr 30px  1fr;
      }
      @media screen and (min-width: 1100px) {
        grid-template-columns: repeat(2, 1fr 30px ) 1fr;

        & > *:nth-child(4) {
          display: flex;
        }

        & > .footer_info_me {
          grid-column: span 1;
        }

      }

    }

    h2 {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;

      color: $footer_h2_color;
      padding: 0;
      text-indent: 0;

      margin: 0 0 10px;

      @media screen and (max-width: 720px) {
        text-indent: 0;
        text-align: center;
      }
    }

    p, a {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height */
      min-width: 50%;


      color: $footer_color;
      text-decoration: unset;
      margin: 7px 5px 7px 0;
      display: flex;

      @media screen and (max-width: 720px) {
        justify-content: center;
        text-align: center;
      }

    }

    a:hover {
      color: lighten($footer_color, 25%);
    }

    .footer_border {
      display: flex;
      justify-content: flex-start;

      &:before {
        content: ' ';
        background-color: #8494A4;
        width: 2px;
      }
    }

    .footer_copyright {
      text-align: center;
      margin-bottom: 0;
      margin-top: 35px;
      justify-content: center;
    }

    ul.me-media {
      list-style: none;
      margin: 0;
      padding: 0;
      @media screen and (max-width: 720px) {
        justify-content: center;
        align-items: center;
        display: flex;
      }


      li {
        padding: 0;
        margin: 0 3px;
        float: left;

        & > a {
          &:hover i {
            transition: color 0.3s;
            color: #bfb4b4;
          }
        }

        i {
          color: white;
          font-size: 24px;
        }
      }
    }
  }
}