header {
  background: $menu_background;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 14px 12px;
  height: $menu_height;
  align-items: center;

  & > img {
    object-fit: contain;
    height: 100%;
    padding: 0 15px 0 12px;
  }

  & > .header_separate {
    height: 100%;
    width: 2px;
    background: $menu_seperate_color;
    margin: 0 4px;
    padding: 12px 0;

  }

  & > nav {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;

    & > a {
      padding: 4px 10px;
      margin: 0 4px;
      text-decoration: unset;
      color: $menu_color;
      font-size: 20px;
      font-family: Roboto, sans-serif;

      &:hover {
        transition: color 0.3s;
        color: lighten($menu_color, 20%);
      }
    }

    & > .header_space {
      flex: 1 0 auto;
    }

    & > .app-nav-btn {
      border-radius: 5px;
      border: 1px solid $menu_color;
      padding: 7px 15px;

      &:hover {
        transition: color 0.3s, background-color 0.3s, color 0.3s;
        border-color: lighten($menu_color, 20%);
        background: transparentize(white, 0.9);
      }
    }
  }
}

main > div.header {
  width: 100%;
  position: relative;

  & > img {
    &.header_bg {
      width: 100%;
      top: 0;
      right: 0;
      min-height: 300px;
      object-fit: cover;
    }

    &:not(.header_bg) {
      position: absolute;
      top: 0;
      left: 0;


      animation-iteration-count: infinite;

      &.header_img_cloud {
        animation-name: cloud_anim;
        animation-duration: 7s;
        animation-direction: alternate;
        width: 14vw;
        min-width: 100px;
      }

      &.header_img_earth {
        animation-name: earth_anim;
        animation-duration: 15s;
        width: 14vw;
        min-width: 100px;
      }

      &.header_img_rocket {
        animation-name: rocket_anim;
        animation-duration: 15s;
        width: 12vw;
        min-width: 100px;
      }
    }
  }

  .header_content {
    position: absolute;
    top: 35%;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    display: flex;
    flex-direction: row;
    align-items: center;

    &.header_index {
      & > img {
        width: 222px;
        height: 222px;
        @media screen and (max-width: 1300px) {
          width: 164px;
          height: 164px;
          @media screen and (max-width: 1000px) {
            width: 125px;
            height: 125px;
          }
        }
      }
    }

    & > img {
      box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
      border-radius: 512px;
      width: 164px;
      height: 164px;
      @media screen and (max-width: 1300px) {
        width: 125px;
        height: 125px;
        @media screen and (max-width: 1000px) {
          width: 100px;
          height: 100px;
        }
      }
    }

    & > .header_title {
      padding: 34px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1300px) {
        padding: 28px;
        @media screen and (max-width: 1000px) {
          padding: 20px;
        }
        @media screen and (max-width: 700px) {
          padding: 10px;
        }
      }

      h1 {

        padding: 5px 0;
        margin: 0;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        white-space: nowrap;

        color: $header_color;

        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        @media screen and (max-width: 1300px) {
          font-size: 30px;
          line-height: 35px;
          @media screen and (max-width: 1000px) {
            font-size: 25px;
            line-height: 30px;
          }
        }
      }

      p {
        padding: 5px 0;
        margin: 0;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        white-space: nowrap;

        color: $header_color;
        @media screen and (max-width: 1300px) {
          font-size: 20px;
          line-height: 24px;
          @media screen and (max-width: 1000px) {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
  }


  @keyframes cloud_anim {
    0% {
      transform: translate(0, 0)
    }
    50% {
      transform: translate(10px, 7px)
    }
    100% {
      transform: translate(0, 0)
    }
  }

  @keyframes rocket_anim {
    0% {
      transform: translate(0, 0)
    }

    33% {
      transform: translate(-7px, -7px)
    }
    66% {
      transform: translate(7px, 7px)
    }
    100% {
      transform: translate(0, 0)
    }
  }

  @keyframes earth_anim {
    0% {
      transform: translate(0, 0)
    }
    50% {
      transform: translate(-14px, -10px)
    }
    100% {
      transform: translate(0, 0)
    }
  }
}