.hstack {
  &.stack-center {
    justify-content: center;
  }

  &.stack-end {
    justify-content: flex-end;
  }

  &.stack-start {
    justify-content: flex-start;
  }

  &.stack-vcenter {
    align-items: center;
  }

  .stack-spacer {
    flex-grow: 1;
  }

  & > * {
    margin: 5px;
  }

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.vstack {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}