<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ 'site_name'|trans }}</title>
    {% include('dashboard/include/header.html.twig') with {} only %}
    {% block head %}{% endblock %}
    {% block  stylesheet %}{% endblock %}
</head>
<body>

{% include('dashboard/include/menu_left.html.twig') with {} only %}
<main>
    {% include('dashboard/include/menu_top.html.twig') with {} only %}
    <div class="main-content {% block content_class %}{% endblock %}">

        {% block content %}{% endblock %}
    </div>
</main>
{% include('dashboard/include/footer.html.twig') with {} only %}
<script src="{{ asset('js/dashboard/main.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('.select2').select2();
    });
</script>
</body>

</html>