<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ 'site_name'|trans }}</title>
    {% include('dashboard/include/header.html.twig') with {} only %}
    {% block head %}{% endblock %}
    {% block  stylesheet %}{% endblock %}
</head>
<body>

{% include('dashboard/include/menu_left.html.twig') with {} only %}
<main>
    {% include('dashboard/include/menu_top.html.twig') with {} only %}
    <div class="main-content {% block content_class %}{% endblock %}">

        {% block content %}{% endblock %}
    </div>
</main>
{% include('dashboard/include/footer.html.twig') with {} only %}
<script src="{{ asset('js/dashboard/main.js') }}"></script>
</body>

</html>