<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ 'site_name'|trans }}</title>
    {% include('dashboard/include/header.html.twig') with {} only %}
    {% block head %}{% endblock %}
    {% block  stylesheet %}{% endblock %}
</head>
<body>

{% include('dashboard/include/menu_left.html.twig') with {} only %}
<main>
    {% include('dashboard/include/menu_top.html.twig') with {} only %}
    <div class="main-content container-fluid">

        <div class="row">
            <div class="col-8">

                <div class="card mb-5">
                    <div class="card-body">
                        <h3>Catégories : Technologie du web</h3>
                        <table class="db_data-table">
                            <thead>
                            <tr>
                                <td>#</td>
                                <td>Nom</td>
                                <td class="text-right">Action</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Technologie du web</td>
                                <td class="text-right">
                                    <a href="" class="app-btn app-btn-blue app-btn-text">
                                        <i class="fas fa-pen-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Programmation Applicative</td>
                                <td class="text-right">
                                    <a href="" class="app-btn app-btn-blue app-btn-text">
                                        <i class="fas fa-pen-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Base de données</td>
                                <td class="text-right">
                                    <a href="" class="app-btn app-btn-blue app-btn-text">
                                        <i class="fas fa-pen-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Utilitaire</td>
                                <td class="text-right">
                                    <a href="" class="app-btn app-btn-blue app-btn-text">
                                        <i class="fas fa-pen-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Logiciel Serveur</td>
                                <td class="text-right">
                                    <a href="" class="app-btn app-btn-blue app-btn-text">
                                        <i class="fas fa-pen-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card card_no-shadow">
                    <div class="card-body">
                        <h3>Liste des catégories</h3>
                        <table class="db_data-table">
                            <thead>
                            <tr>
                                <td>#</td>
                                <td>Nom</td>
                                <td class="text-right">Action</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Technologie du web</td>
                                <td class="text-right">
                                    <a href="" class="app-btn app-btn-blue app-btn-text">
                                        <i class="fas fa-pen-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Programmation Applicative</td>
                                <td class="text-right">
                                    <a href="" class="app-btn app-btn-blue app-btn-text">
                                        <i class="fas fa-pen-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Base de données</td>
                                <td class="text-right">
                                    <a href="" class="app-btn app-btn-blue app-btn-text">
                                        <i class="fas fa-pen-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Utilitaire</td>
                                <td class="text-right">
                                    <a href="" class="app-btn app-btn-blue app-btn-text">
                                        <i class="fas fa-pen-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Logiciel Serveur</td>
                                <td class="text-right">
                                    <a href="" class="app-btn app-btn-blue app-btn-text">
                                        <i class="fas fa-pen-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body container-fluid">
                        <h3>Ajouter une catégorie</h3>
                        <form class="row form-zone">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Nom</label>
                                    <input type="text">
                                    {# <p class="form-help">Ce champs doit contenir un mot</p> #}
                                    {# <ul class="form-errors"> #}
                                    {# <li>Aucune valeur n'a été trouvé</li> #}
                                    {# </ul> #}
                                </div>
                            </div>
                            <div class="col-12 text-right">
                                <button class="app-btn app-btn-green">
                                    Ajouter
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% include('dashboard/include/footer.html.twig') with {} only %}
</body>
</html>