{% extends 'index/base.html.twig' %}


{% block content %}


    <div class="container" id="silvain-eu_config_email">
        <h1 class="text-center">Configuration Email</h1>
        <div class="hstack stack-center mt-5">
            <div>
                <div class="card card-media-circle_horiz">
                    <div class="card-body">
                        <div class="card-media-circle_horiz">
                            <img src="{{ asset('img/silvain.eu/smtp.png') }}" alt="Serveur Smtp">
                            <h2>Serveur SMTP</h2>
                        </div>
                        <p><b>Adresse :</b> mail.silvain.eu</p>
                        <p><b>Port :</b> 587</p>
                        <p><b>Chiffrement :</b> StartTLS</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card card-media-circle_horiz">
                    <div class="card-body">
                        <div class="card-media-circle_horiz">
                            <img src="{{ asset('img/silvain.eu/imap.png') }}" alt="Serveur Imap">
                            <h2>Serveur IMAP</h2>
                        </div>
                        <p><b>Adresse :</b> mail.silvain.eu</p>
                        <p><b>Port :</b> 993</p>
                        <p><b>Chiffrement :</b> SSL/TLS</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card card-media-circle_horiz">
                    <div class="card-body">
                        <div class="card-media-circle_horiz">
                            <img src="{{ asset('img/silvain.eu/pop.png') }}" alt="Serveur POP3">
                            <h2>Serveur POP3</h2>
                        </div>
                        <p><b>Adresse :</b> mail.silvain.eu</p>
                        <p><b>Port :</b> 995</p>
                        <p><b>Chiffrement :</b> SLL/TLS</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}