{% extends 'index/base.html.twig' %}

{% block title %}{{ exception.statusText|trans({}, "exception") }}{% endblock %}

{% block content %}
    <div class="container-fluid cv_article mb-5 text-center">
        <h1>{{ exception.statusText|trans({}, "exception") }}</h1>
        {% set prev_url  = GetPreviousUrl() %}
        <div class="py-2"></div>
        {% if prev_url != null %}
            <a href="{{ prev_url }}" class="app-btn">Retour</a>
        {% else %}
            <a href="{{ path('index') }}" class="app-btn">Accueil</a>
        {% endif %}
    </div>
{% endblock %}