$card_padding_top: 20px;
$card-media_padding_top: 85px;

$card-media-horiz_padding_top: 20px;

.card {
  filter: drop-shadow(0px 2px 70px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &.card-media-circle {
    margin-top: $card-media_padding_top - $card_padding_top;

    .card-body {
      img:first-child {
        width: 200px;
        object-fit: contain;
        height: 200px;
        border-radius: 50%;
        margin-top: -1 * $card-media_padding_top;
      }
    }
  }

  &.card-media-circle_horiz {
    margin-top: $card-media-horiz_padding_top;

    .card-body {
      padding-top: 0;

      & > .card-media-circle_horiz {
        display: flex;
        flex-direction: row;

        img {
          height: 90px;
          max-width: 90px;
          object-fit: contain;
          border-radius: 50%;
          margin-top: -1 * $card-media-horiz_padding_top;
        }

        h2 {
          margin: 0 12px;
          font-family: Roboto, sans-serif;
          font-weight: bold;
        }

        margin: 0 25px 10px;
      }

      p {
        color: black;
      }
    }
  }

  .card-header {
  }

  .card-body {
    padding: $card_padding_top 15px;
    background: white;
    display: flex;
    flex-direction: column;

    &.card-body_maximize {
      flex: 1 0 auto;
    }

    &.card-centered {
      @extend .align-items-center;

      p {
        text-align: center;
        text-indent: 0;
      }
    }


    h2 {
      color: black;
      font-family: Rubik, sans-serif;
      font-weight: 500;
      font-size: 22px;
      margin: 15px 0 5px 0;
      display: flex;
      align-items: center;
      text-align: center;
    }

    p {
      font-family: Open Sans;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;

      color: $default_text_color;
    }
  }

  .card-footer {
    padding: 12px 15px;
    background-color: #F7FAFD;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #EAE8E8;

    & > .card-footer_spacer {
      flex: 1 0 auto;
    }

    & > i, .card-footer_icon > i, i.card-footer_icon {
      color: rgba(0, 0, 0, 0.5);
      font-size: 25px;
      padding: 0 4px;
    }
  }
}