$card_padding_top: 20px;
$card_padding_x: 15px;
$card-media_padding_top: 85px;

$card-media-horiz_padding_top: 20px;

.card {
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &.card-media {
    img:first-child {
      width: 100%;
      object-fit: cover;
      height: 175px;
      background: white;
    }
  }

  &.card-media-circle {
    margin-top: $card-media_padding_top - $card_padding_top;

    .card-body {
      img:first-child {
        width: 200px;
        object-fit: contain;
        height: 200px;
        border-radius: 50%;
        margin-top: -1 * $card-media_padding_top;
      }
    }
  }

  &.card-media-circle_horiz {
    margin-top: $card-media-horiz_padding_top;

    .card-body {
      padding-top: 0;

      & > .card-media-circle_horiz {
        display: flex;
        flex-direction: row;

        img {
          height: 90px;
          max-width: 90px;
          object-fit: contain;
          border-radius: 50%;
          margin-top: -1 * $card-media-horiz_padding_top;
        }

        h2 {
          margin: 0 12px;
          font-family: Roboto, sans-serif;
          font-weight: bold;
        }

        margin: 0 25px 10px;
      }

      p {
        color: black;
      }
    }
  }

  &.card-centered {
    .card-body {
      @extend .align-items-center;

      p {
        text-align: center;
        text-indent: 0;
      }
    }

    .card-footer {
      justify-content: center;
    }
  }

  .card-header {
  }

  .card-body {
    padding: $card_padding_top $card_padding_x;
    background: white;
    display: flex;
    flex-direction: column;

    &.card-body_maximize {
      flex: 1 0 auto;
    }

    &.card-centered {
      @extend .align-items-center;

      p {
        text-align: center;
        text-indent: 0;
      }
    }


    h2 {
      color: #2C3E50;
      font-family: Roboto, sans-serif;
      font-weight: bold;
      font-size: 22px;
      margin: 5px 0 5px 0;
      display: flex;
      align-items: center;
      text-align: center;

      &.big-title {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        /* identical to box height */

        text-align: center;

        color: #2C3E50;
      }
    }

    p {
      font-family: Roboto, sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;

      color: $default_text_color;
    }
  }

  .card-footer {
    padding: 12px 15px;
    background-color: #F7FAFD;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #EAE8E8;
    justify-content: flex-end;
    color: rgba(0, 0, 0, 0.5);

    & > .card-footer_spacer {
      flex: 1 0 auto;
    }

    & > i, .card-footer_icon > i, i.card-footer_icon {
      color: rgba(0, 0, 0, 0.5);
      font-size: 25px;
      padding: 0 4px;
    }
  }
}