<nav id="nav-left" class="nav-left">
    <div class="nav-header">
        <div class="nav-header_img">
            <img src="{{ asset('favicon.png') }}" alt="">
        </div>
        <div class="nav-header_content">
            <h1>Silvain.eu</h1>
            <p>Espace Administration</p>
        </div>
    </div>
    <div class="nav_left-content">
        <div class="menu-section">
            <a class="menu-item" href="{{ path('index') }}">
                <div class="menu-item-link">
                    <div class="menu-item-link_icon"><i class="fas fa-home"></i></div>
                    <div class="menu-item-link_content">{{ "home"|trans|capitalize }}</div>
                </div>
            </a>
        </div>
    </div>
</nav>