<nav>
    <div class="nav-header">
        <div class="nav-header_img">
            <img src="{{ asset('favicon.png') }}" alt="">
        </div>
        <div class="nav-header_content">
            <h1>Silvain.eu</h1>
            <p>Espace Administration</p>
        </div>
    </div>
    <div class="nav_left-content">
        <div class="nav_left-content_separator"></div>
    </div>
</nav>